language: node_js
branches:
  except:
  - gh-pages
node_js:
  - '8'
  - '7'
  - '6'
  - '5'
  - '4'
  - 'iojs'
  - '0.12'
  - '0.11'
  - '0.10'
after_success:
  - npm run coverage:unit
  - npm run coveralls
